
body {
    padding: 0;
    margin: 0;
  }

h1{
text-align: center;
background-color: 	rgb(58, 59, 70);
color: white;
margin-bottom: 10px;
margin-top: 0;
padding: 12px;
object-fit: fill;

}

h2, input{
  margin-left: 10px;
}


input{
    margin-bottom: 15px;
}

.btn-group button {
    background-color: white; /* White background */
    border: 1px solid grey; /* Grey border */
    color: black; /*Black text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 91%; /* Set a width */
    max-height: 80%;
    padding-bottom: 20px;
    margin-right: 10px;
    margin-left: 8px;
    display: block; /* Make the buttons appear below each other */

  
    
  }
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color:lightblue;
  }


.searchArea{
    width: 26%;
    height: 100%;
    background-color:rgb(197, 219, 247);
    float: left;
    width: 30%;
}


.apiArea{
  border: 2px;
  border-color: grey;
  border-style: solid;
  padding: 10px;
  width:65%;
  float:right;

}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 12%;
  padding: 0 10px;
  margin-top: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
float: right;
display: block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}